@import "~angular-calendar/css/angular-calendar";

$primary: rgb(52, 119, 196);
$secondary: rgb(37, 86, 141);
$gray: rgb(99, 99, 99);
$gray-hover: rgb(131, 131, 131);

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;

  &,
  &::before,
  &::after {
    background-repeat: no-repeat !important;
  }

  &,
  &:focus,
  &:active,
  button,
  button:focus,
  button:active {
    outline: none !important;
  }
}
