html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;

  &,
  &::before,
  &::after {
    background-repeat: no-repeat !important;
  }

  &,
  &:focus,
  &:active,
  button,
  button:focus,
  button:active {
    outline: none !important;
  }
}
