<div class="app-new-employee-form">
  <h3>Add Employee</h3>

  <mat-form-field>
    <mat-label>First Name*</mat-label>
    <input matInput type="text" [(ngModel)]="firstName" />
  </mat-form-field>

  <br />

  <mat-form-field>
    <mat-label>Last Name*</mat-label>

    <input matInput type="text" [(ngModel)]="lastName" />
  </mat-form-field>

  <br />

  <mat-form-field>
    <mat-label>Group*</mat-label>

    <mat-select [(ngModel)]="group">
      <mat-option
        *ngFor="let groupOption of groupOptions"
        [value]="groupOption.value"
      >
        {{ groupOption.label }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <br />

  <button
    mat-raised-button
    color="primary"
    (click)="create()"
    [disabled]="!firstName || !lastName || !group"
  >
    Create
  </button>
  <button mat-raised-button (click)="cancel()">Cancel</button>
</div>
