.dashboard-staff {
  position: relative;
  min-height: 100vh;

  &-header {
    button {
      float: right;
    }
  }

  table {
    min-width: 500px;
  }

  mat-spinner {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
  }
}
