nav {
  width: 180px;
  padding-top: 2rem;
  min-height: 100%;
  background-color: #f0f0f0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a.mat-button {
  display: block;
  text-align: left;

  &.--is-active {
    color: red;
    font-weight: 500;
  }

  .mat-badge {
    position: absolute;
    right: 1.5rem;
    top: 1rem;
  }
}
