@import "src/styles.scss";

nav {
  width: 16rem;
  padding: 1em;
  min-height: 100vh;
  background-color: $primary;
}

a {
  display: block;
  background-color: $gray;
  padding: 4px;
  margin: 4px;
  color: #fff;
  text-decoration: none;
  font-weight: 200;
  border-radius: 8px;

  &.--is-active {
    background-color: $secondary;
    font-weight: 500;
  }

  &:hover {
    background-color: $gray-hover;
  }

  .mat-badge {
    position: absolute;
    right: 1.5rem;
    top: 1rem;
  }
}
